<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project_breakdown_structure.title %>
</p>

<%= link_to 'Edit', edit_project_breakdown_structure_path(@project_breakdown_structure) %> |
<%= link_to 'Back', project_breakdown_structures_path %>
