<div class="container" >
 <pre ng-if="$root.showDebug">{{nodes}}</pre>
 <pre ng-if="$root.showDebug"> {{chartData}} </pre>
</div>


<md-input-container class="tableinput md-block" flex-gt-xs>
  <label>Name</label>
  <input ng-model="delphi.name" aria-label="Name des Schätzers" ng-blur="getDelphis()"></input>
  <div class="hint">Nennen Sie uns Ihren Namen</div>
</md-input-container>

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Delphi">
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="col-xs-8">Name</th>
          <th class="col-xs-4">Dauer<th>
        </tr>
      </thead>
      <tbody >
        <tr ng-repeat="delphi in delphi" id="{{delphi.id}}">
          <td class="col-xs-8">
            <md-input-container class="tableinput md-block" flex-gt-xs>
              <input ng-model="delphi.name" aria-label="Name des Knoten" ng-disabled></input>
            </md-input-container>
          </td>
          <td class="col-xs-4">
            <md-input-container class="tableinput md-block" flex-gt-xs>
              <input ng-model="delphi.dauer" aria-label="Name des Knoten" ng-blur="updatedelphi(delphi)"></input>
            </md-input-container>
          </td>
        </tr>
      </tbody>
      </table>
  </md-tab>

  <md-tab label="Open">

  </md-tab>
</md-tabs>
