
<md-toolbar layout layout-align="center start">
  <h1>Delphi</h1>
</md-toolbar>

<div class="container" >
  <pre ng-if="$root.showDebug">{{nodes}}</pre>
  <pre ng-if="$root.showDebug"> {{chartData}} </pre>
</div>

<md-card>
  <div layout-gt-xs="row">

    <md-input-container class="md-icon-float md-block" flex-gt-xs>
      <label>Name</label>
      <md-icon md-font-set="material-icons">person</md-icon>
      <input ng-model="delphi.username" aria-label="Name des Schätzers" ng-blur="getDelphis(delphi.username)" type="text"></input>
      <div class="hint">Nennen Sie uns Ihren Namen</div>
    </md-input-container>

    <md-button ng-if="delphi.username" ng-click="getDelphis(delphi.username)" class="md-icon-button">
      <md-icon md-font-set="material-icons">refresh</md-icon>
    </md-button>
  </div>
</md-card>

<div class="table-responsive" ng-if="delphi.username">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th class="col-xs-1">Dauer</th>
        <th class="col-xs-11">Arbeitspaket</th>
      </tr>
    </thead>
    <tbody >
      <tr ng-repeat="delphi in delphis" id="{{delphi.id}}">
        <td></td>
        <td class="col-xs-1">
          <md-input-container class="tableinput md-block" flex-gt-xs>
            <input ng-model="delphi.value" aria-label="Dauer des Knoten" ng-blur="updateDelphi(delphi)"></input>
          </md-input-container>
        </td>
        <td class="col-xs-11">
          <md-input-container class="tableinput md-block" flex-gt-xs>
            <input ng-model="delphi.workpackagename" disabled aria-label="Name des Knoten"></input>
          </md-input-container>
        </td>
      </tr>
    </tbody>
  </table>
