
<div class="container">
  <pre ng-if="$root.showDebug">{{projects}}</pre>
  <md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">
    <div flex="50" flex-xs="100" layout="column" ng-repeat="project in projects">
      <md-card >
        <figure><img ng-src="/images/projects.jpg" class="md-card-image"></figure>
        <md-card-title>
          <md-card-title-text>
            <md-button ng-href="#/{{project.id}}" class="md-primary md-hue-1">{{project.name}}</md-button>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            {{project.description}}
          </p>
        </md-card-content>

        <md-card-actions layout="column" layout-align="start">
          <md-list>
           <md-list-item ng-href="#/{{project.id}}/nodes">
             <md-icon md-font-set="material-icons">extension</md-icon>
               <p>Product Breakdown Structur</p>
           </md-list-item>
           <md-list-item ng-href="#/{{project.id}}/works">
             <md-icon md-font-set="material-icons">build</md-icon>
               <p>Work Breakdown Structur</p>
           </md-list-item>

           <md-list-item ng-href="#/{{project.id}}/roles">
             <md-icon md-font-set="material-icons">people</md-icon>
               <p>Role Breakdown Structur</p>
           </md-list-item>

           <md-list-item ng-href="#/{{project.id}}/rams">
             <md-icon md-font-set="material-icons">person outline</md-icon>
               <p>Resource Allocation Matrix</p>
           </md-list-item>

           <md-list-item ng-href="#/{{project.id}}/delphis">
             <md-icon md-font-set="material-icons">schedule</md-icon>
               <p>Delphi</p>
           </md-list-item>
         </md-list>

        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>
