

<md-dialog aria-label="Neuer Eintrag" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Neuer Eintrag</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          Exit
         <md-icon md-font-set="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Eintrag hinzufügen</h2>

        <form name="nodeForm">

        <pre>{{node}} </pre>

         <div layout-gt-xs="row" ng-show="nodes != null">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Parent </label>
            <md-select placeholder="Assign to parent" ng-model="newNode.parent_id" style="min-width: 200px;">
               <md-option ng-value="parent.id" ng-repeat="parent in nodes">{{parent.name}}</md-option>
            </md-select>
          </md-input-container>
        </div>

         <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Name </label>
            <input ng-model="newNode.name" aria-label="Name des Knoten" md-maxlength="30"> </input>
            <div class="hint">Wie ist der Name des Knoten</div>
            <div ng-messages="nodeForm.name.$error" ng-hide="showHints">
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Beschreibung*</label>
            <input ng-model="newNode.description" aria-label="Name des Knoten"></input>
            <div class="hint" >Optional: Geben Sie eine Beschreibung des Knoten ein.</div>
            <div ng-messages="nodeForm.descritpion.$error" ng-hide="showHints">
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-checkbox aria-label="Meilenstein" ng-model="newNode.milestone" aria-label="Meilenstein"> <label> Meilenstein </label>
        </div>

        <pre>Parent: {{node.id}}</pre>
        <pre>{{newNode}} </pre>

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer( newNode )">
        Hinzufügen
      </md-button>
      <md-button ng-click="cancel()" style="margin-right:20px;">
        Abbrechen
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
