<form>
  <md-content>
    <div class="md-dialog-content">
      <h2>Eintrag hinzufügen</h2>

      <form name="projectForm">

       <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Name </label>
          <input ng-model="newproject.name" aria-label="Name des Projektes" md-maxlength="30"> </input>
          <div class="hint">Wie ist der Name des Projektes</div>
          <div ng-messages="roleForm.name.$error">
          </div>
        </md-input-container>
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Beschreibung*</label>
          <input ng-model="newproject.description" aria-label="Beschreibung des Projektes"></input>
          <div class="hint" >Optional: Geben Sie eine Beschreibung des Projektes ein.</div>
          <div ng-messages="roleForm.descritpion.$error">
          </div>
        </md-input-container>
      </div>

      <pre ng-if="$root.showDebug">{{newproject}} </pre>

    </div>
  </md-dialog-content>
  <md-actions layout="row">
    <span flex></span>
    <md-button ng-click="newProject( newproject )">
      Hinzufügen
    </md-button>
  </md-actions>
</form>
