
<div class="container" >
 <pre ng-if="$root.showDebug">{{nodes}}</pre>
 <pre ng-if="$root.showDebug"> {{chartData}} </pre>
</div>
<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Content">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="col-lg-1"></th>
            <th class="col-lg-8">Name</th>
            <th class="col-lg-1">Meilenstein</th>
            <th class="col-lg-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="node in nodes" id="{{node.id}}">
            <th class="col-lg-1 col-xs-1"></th>
            <td class="col-lg-8 col-xs-7" style="padding-left: {{node.level * 10}}px;">
              <md-input-container class="tableinput md-block" flex-gt-xs>
                <input ng-model="node.name" aria-label="Name des Knoten" ng-blur="updateNode(node)"></input>
                <div class="hint">{{node.description}}</div>
              </md-input-container>
            </td>
            <td class="col-lg-1 col-xs-2">
              <md-checkbox ng-model="node.milestone" aria-label="Meilenstein" ng-change="updateNode(node)" class="md-primary">
             </md-checkbox>
              <!-- <md-checkbox aria-label="Meilenstein" ng-model="data.milestone" ng-click="updateNode(node)" aria-label="Meilenstein"> -->
            </td>
            <td class="col-lg-2 col-xs-2">
              <md-button class="md-icon-button" aria-label="Knoten hinzufügen" ng-click="addNodeDialog($event, node, null)" >
                <md-tooltip md-direction="left">
                  Knoten hinzufügen
                </md-tooltip>
                <md-icon md-font-set="material-icons"> add </md-icon>
              </md-button>
               <md-button class="md-icon-button" aria-label="Knoten löschen" ng-click="deleteNodeDialog($event, node)" >
                 <md-tooltip md-direction="left">
                   Knoten löschen
                 </md-tooltip>
                 <md-icon md-font-set="material-icons"> delete </md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <md-button class="md-warn" aria-label="Knoten löschen" ng-click="addNodeDialog($event, null, nodes)" >Add</md-button>
  </md-tab>

  <md-tab label="Chart">
    <div org-Nodeschart chart="chartData()"></div>
  </md-tab>
</md-tabs>
