<div class="container" >
 <pre ng-if="$root.showDebug">{{rams}}</pre>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr >
        <th class="col-lg-2">Product Name</th>
        <th class="col-lg-2">Work Package</th>
        <th class="col-lg-2">Roles</th>
        <th class="col-lg-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ram in rams">
        <td class="col-lg-4 col-xs-4">
          <div layout-gt-xs="row">
            <span style="padding-left:{{ram.node.level * 20}}px; border-right: 1px solid #dddddd; margin-right: 5px;" ></span>
            <md-input-container class="tableinput md-block" flex-gt-xs>
              <input ng-model="ram.node.name" aria-label="Name des Knoten" disabled></input>
              <div class="hint">{{work.description}}</div>
            </md-input-container>
          </div>
        </td>

        <td>
          <md-select ng-disabled="ram.allocatable" placeholder="Workpackage zuweisen" ng-model="ram.node.workpackagename" md-on-open="loadWorkpackages()">
            <md-option ng-value="workpackage" ng-repeat="workpackage in workpackages">{{workpackage.name}}</md-option>
          </md-select>
        </td>
        <td>
          <md-select ng-disabled="ram.allocatable" placeholder="Rolle zuweisen" ng-model="ram.node.roleArray[0]" md-on-open="loadRoles()" >
            <md-option ng-value="role" ng-repeat="role in roles">{{role.name}}</md-option>
          </md-select>
        </td>
        <td>
          <md-button ng-if="!ram.allocatable" class="md-icon-button" aria-label="Speichern" ng-click="updateRam($event, ram)" >
            <md-tooltip md-direction="left">
              Speichern
            </md-tooltip>
            <md-icon md-font-set="material-icons"> save </md-icon>
         </md-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
