
<div class="container" >
 <pre ng-if="$root.showDebug">{{roles}}</pre>
 <pre ng-if="$root.showDebug"> {{chartData}} </pre>
</div>

<md-tabs md-dynamic-height md-border-bottom>

  <md-tab label="Content">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th ></th>
          <th class="col-lg-4">Name</th>
          <th class="col-lg-2">Qualification</th>
          <th class="col-lg-2">Experience</th>
          <th class="col-lg-2">Quantity</th>
          <th class="col-lg-2">Actions</th>
        </tr>
      </thead>
      <tbody >
        <tr ng-repeat="role in roles" id="{{role.id}}">
          <td></td>
          <td class="col-lg-2">
            <md-input-container class="tableinput md-block" flex-gt-xs>
              <input ng-model="role.name" aria-label="Name des Knoten" ng-blur="updateRole(role)"></input>
            </md-input-container>
          </td>
          <td class="col-lg-1">
            <md-input-container class="tableinput md-block" flex-gt-xs>
              <input ng-model="role.qualification" aria-label="Name des Knoten" ng-blur="updateRole(role)"></input>
            </md-input-container>
          </td>
          <td class="col-lg-1">
            <md-input-container class="tableinput md-block" flex-gt-xs>
              <input ng-model="role.experience" aria-label="Name des Knoten" ng-blur="updateRole(role)"></input>
            </md-input-container>
          </td>
          <td class="col-lg-1">
            <md-input-container class="tableinput md-block" flex-gt-xs>
              <input ng-model="role.quantity" aria-label="Verfügbarkeit" input="number" ng-blur="updateRole(role)"></input>
            </md-input-container>
          </td>
          <td class="col-lg-2">
            <md-button class="md-icon-button" aria-label="Knoten hinzufügen" ng-click="addRoleDialog($event, role, null)" flex-gt-md="auto">
                  <md-icon md-font-set="material-icons"> add </md-icon>
             </md-button>
             <md-button class="md-icon-button" aria-label="Knoten löschen" ng-click="deleteRoleDialog($event, role)" flex-gt-md="auto">
                  <md-icon md-font-set="material-icons"> delete </md-icon>
              </md-button>
          </td>
        </tr>

      </tbody>
      </table>
    </div>

    <md-button class="md-warn" aria-label="Knoten löschen" ng-click="addRoleDialog($event, null, roles)" flex-gt-md="auto">Add</md-button>
  </md-tab>

  <md-tab label="Chart">
  <div org-RolesChart chart="$scope.chartData"></div>
  </md-tab>
</md-tabs>
