<md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">
  <div layout-fill layout="column">
    <md-card>
      <figure><img ng-src="/images/projects.jpg" class="md-card-image"></figure>
      <md-card-title>
        <md-card-title-text>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Name </label>
            <input ng-model="selectedProject.name" ng-blur="updateProject(selectedProject)" aria-label="Name des Projektes" md-maxlength="30"> </input>
            <div class="hint">Wie ist der Name des Projekts</div>
            <div ng-messages="roleForm.name.$error">
            </div>
          </md-input-container>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Beschreibung </label>
          <textarea ng-model="selectedProject.description" ng-blur="updateProject(selectedProject)" aria-label="Beschreibung des Projektes" columns="1" md-maxlength="150" rows="5"> </textarea>
          <div class="hint">Was Bedeutet das Projekt</div>
          <div ng-messages="roleForm.description.$error">
          </div>
        </md-input-container>
      </md-card-content>

      <md-card-actions layout="row" layout-align="center">

        <div layout-gt-xs="row">

         <md-button class="md-icon-button" ng-href="#/{{selectedProject.id}}/nodes">
           <md-tooltip md-direction="down">
             Product Breakdown Structur
           </md-tooltip>
           <md-icon md-font-set="material-icons">extension</md-icon>
         </md-button>

         <md-button class="md-icon-button" ng-href="#/{{selectedProject.id}}/works">
           <md-tooltip md-direction="down">
             Work Breakdown Structur
           </md-tooltip>
           <md-icon md-font-set="material-icons">build</md-icon>
         </md-button>

         <md-button class="md-icon-button"  ng-href="#/{{selectedProject.id}}/roles">
           <md-tooltip md-direction="down">
             Role Breakdown Structur
           </md-tooltip>
           <md-icon md-font-set="material-icons">people</md-icon>
         </md-button>

         <md-button class="md-icon-button"  ng-href="#/{{selectedProject.id}}/rams">
           <md-tooltip md-direction="down">
             Resource Allocation Matrix
           </md-tooltip>
           <md-icon md-font-set="material-icons">person</md-icon>
         </md-button>

         <md-button class="md-icon-button"  ng-href="#/{{selectedProject.id}}/delphis">
           <md-tooltip md-direction="down">
             Delphi
           </md-tooltip>
           <md-icon md-font-set="material-icons">schedule</md-icon>
         </md-button>

       </div>

         <div layout-gt-xs="row">
           <md-button class="md-warn"  ng-click="deleteProjectDialog($event, selectedProject)">
             <md-tooltip md-direction="down">
               Löschen
             </md-tooltip>
             <md-icon md-font-set="material-icons">delete</md-icon>

           </md-button>
         </div>
      </md-card-actions>
    </md-card>
  </div>

  <div layout-fill layout="column">
    <pre ng-if="showDebug">{{users}}</pre>
    <md-card>
      <md-content ng-controller="usersController">
        <md-list>
          <md-subheader class="md-no-sticky">Delphi Teilnehmer Übersicht</md-subheader>
          <md-list-item ng-repeat="user in users">
            <div class="md-list-item-text" layout="column">
              <h4 class="md-subhead">{{ user.workpackagename }}</h4>
              <md-list>
                <md-list-item  ng-repeat="uname in user.usernamesarray" ng-click="deleteUserDialog($event, uname)">{{uname}}</md-list-item>
              </md-list>
           </div>
          </md-list-item>
        </md-list>
      </md-content>
    </md-card>
    <md-card ng-controller="delphiController">
      <md-list>
        <md-subheader class="md-no-sticky">Delphi Evaluation</md-subheader>
        <md-list-item ng-repeat="evaluation in deliphiEvaluation">
          <div class="md-list-item-text" layout="column">
            <p>{{evaluation.name}} : {{evaluation.duration}}</p>
         </div>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
</md-content>

<md-content>
      <pre ng-if="showDebug">{{chartData}}</pre>

  <div gantt-Projectschart></div>
</md-content>
