.fabToolbardemoBasicUsage md-fab-toolbar.md-right md-fab-trigger.align-with-text {
  left: 7px;
}

.tableinput{
  margin:0px;
  padding:0px;
}

.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

td {
  padding: 0px !important;
    border: none !important;
}

td md-input-container {
    padding-top: 20px !important;
}

td md-checkbox {
    left: 28%;
    height: 80%;
}